/* DEFAULT */
.slick-slide:focus{outline: none;}

/* NAVBAR */
.navbar { min-height: 80px; margin-bottom: 0;}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

/* SITE LOGO */
.logo-normal .desktop-logo{
  max-width: 400px;
  margin-top: 20px;
}
.logo-normal .visible-xs{
  max-width: 310px;
  margin-top: 24px;
}
.logo-normal .visible-xs{
   max-width: 250px;
   margin-top: 23.5px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  margin-right: 0;
  padding: 9px 4px !important;
}

.navbar-toggle.collapsed {
  padding: 9px 10px !important;
}

/* Sticky menu */
.sticky-transparent-header{
  position: absolute;
  width: 100%;
  z-index: 999;
}
/* Sticky menu */

/* Ovverride font styles */
.navbar-default {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
  border-bottom: 4px solid #2e3d59;
}
.sticky-transparent-header.affix{
  background-color: #ffffff;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a,
.navbar .dropdown-menu > li > a{
  font-weight: bold;
  color: #00b0af;
}

.navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2e3d59;
}
/* Navbar links */

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2e3d59;
  background-color: transparent;
}
/* Active link */

/* Dropdown Menu */
.navbar .dropdown-menu{
  padding: 0;
}
.navbar .dropdown-menu > li > a{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 12px;
}
.navbar .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
  color: #ffffff;
  background-color: #2e3d59;
}
/* Highlight Parent Menu Item while Child Menu Item is active */
.navbar-nav > li.dropdown.current-menu-ancestor > a{ color: #2e3d59; }
/* Highlight Parent Menu Item while Child Menu Item is active */

/* Active dropdown item */
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus{
  color: #ffffff !important;
  background-color: #2e3d59;
}
/* Active dropdown item */

/* Dropdown Menu */

/* Hamburger */
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  height: 4px;
  width: 23px;
  background-color: #2e3d59;
  transition: transform 0.2s;
}
/* Hamburger */

/* Animate hamburger */
.header5 .navbar-toggle {
  border-radius: 20px;
  background-color: transparent;
  border-radius: 20px;
}

.header5 .navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.header5 .navbar-toggle .middle-bar {
  opacity: 0;
}
.header5 .navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: -10% 58%;
}
.header5 .navbar-toggle.collapsed .top-bar,
.header5 .navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.header5 .navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
/* Animate hamburger */

/* Header Right */

/* Social Icons */
.header5 .social-icons{
  padding: 23.5px 0;
}
.header5 .social-icons > a {
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #ffffff;
  background: #2e3d59;
  text-align: center;
  line-height: 28px;
  border: 2px solid #2e3d59;
  border-radius: 50%;
  -webkit-transition: all 100ms ease-in;
	-ms-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

.header5 .social-icons > a:hover {
  background: #00b0af;
  border: 2px solid #00b0af;
}

.header5 .social-icons > a:not(:first-child){
  margin-left: 8px;
}

.header5 .social-icons > a > i{
  font-size: 16px;
}

/* SOW SHIFT CARD SLIDER */
.card-slider-wrapper{
	width: 100%;
  max-width: 93%;
  overflow: hidden;
  margin: 0 auto;
  padding: 36px 100px 36px;
  box-sizing: border-box;
}
.shift-card-slider{
  margin: 30px -15 50px;
	max-height: 220px;
}
.shift-card-slider.loaded{ max-height: none; }

.card-wrapper{
  opacity: 0;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
}
.shift-card-slider.loaded .card-wrapper{ opacity: 1; }

.shift-card-slider .card{
  padding: 40px 30px;
  /* padding: 33px 28px 24px 29px; */
  color: #ffffff;
  background-color: #00B0AF;
  background-image: linear-gradient(to bottom right, #A6DCE2,#00B0AF,#167C9B);
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
}

.shift-card-slider .card-header{
  margin-bottom: 44px;
}

.shift-card-slider .card-header img{
  display: block;
  margin: 0 auto;
	border-radius: 50%;
  background: #ffffff;
  width: 100%;
	height: 80px;
  max-width: 80px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.shift-card-slider .card-content{
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}

/* CARD SLIDER VARIABLE HEIGHT FIX*/
.shift-card-slider .slick-track{ display: flex; }
.shift-card-slider.loaded .card-wrapper { display: flex; height: auto; }

/* SLICK DOTS */
.shift-card-slider ul.slick-dots{
	opacity: 0;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	list-style: none;
	text-align: center;
	display: block;
	margin-top: 23px;
	padding: 0;
}
.shift-card-slider.loaded ul.slick-dots{ opacity: 1; }
.shift-card-slider ul.slick-dots li{ display: inline-block; line-height: 1; }
.shift-card-slider ul.slick-dots li button{
	display: inline-block;
	width: 10px;
	height: 10px;
	font-size: 0;
	padding: 0;
	margin: 0 4px;
	cursor: pointer;
  background: transparent;
	outline: none;
	vertical-align: top;
  border: 2px solid #ffbd13;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}
.shift-card-slider ul.slick-dots li button:hover,
.shift-card-slider ul.slick-dots li.slick-active button{ background: #ffbd13; border-color: #ffbd13; }

/* SLICK ARROWS */
.shift-card-slider .slick-prev:before,
.shift-card-slider .slick-next:before{
	content:"";
	width: 85%;
	height: 85%;
	display: inline-block;
  background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.shift-card-slider button.slick-prev,
.shift-card-slider button.slick-next{
	position: absolute;
	width: 36px;
	height: 36px;
	display: inline-block;
  top: 50%;
  transform: translateY(-50%);
	margin-top: -18px;
	cursor: pointer;
	outline: none;
	opacity: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	text-align: center;
	line-height: 36px;
	background: #ffffff;
	z-index: 12;
	color: #313131;
	padding: 0;
	border: none;
}
.shift-card-slider.loaded button.slick-prev,
.shift-card-slider.loaded button.slick-next { opacity: 1; }
.shift-card-slider > button.slick-prev{
  left: -80px;
}
.shift-card-slider > button.slick-next{
  right: -80px;
}

/* SOW SHIFT LOGO SLIDER */
.shift-logos-wrapper{ width: 100%; max-width: 90%; margin: 0 auto; }
.shift-logos-wrapper .slick-prev:before,
.shift-logos-wrapper .slick-next:before{
	content:"";
	width: 162px;
	height: 27px;
	display: inline-block;
  background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.shift-logos-wrapper button.slick-next{
	position: absolute;
	display: inline-block;
	right: 40px;
	margin-top: 50px;
	cursor: pointer;
	outline: none;
	opacity: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	z-index: 12;
	padding: 0;
	border: none;
	background: transparent;
}

.shift-logos-slider.loaded button.slick-next { opacity: 1; }
.shift-logos-wrapper > button.slick-next{
  right: -80px;
}

.shift-logos-slider .redirect-url{
  text-decoration: none;
  outline: none;
  display: block;
}

.shift-logos-slider .slide-inner{
	background-color: #ffffff;
	height: 140px;
	max-width: 450px;
	width: 100%;
	border-radius: 15px;
	padding: 20px 30px;
}

.shift-logos-slider .slide-inner img{
  height: 100%;
  object-fit: scale-down;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* FOR SHOWING PARTIAL SLIDE */
.shift-logos-slider .slick-list{ margin-left: -20px; padding-right: 70px; }

/* SOW HERO VIDEO */
.shift-hero-video, .shift-hero-builder{ position: relative; overflow: visible; }
.shift-hero-video .shift-hero-video-inner,
.shift-hero-builder .shift-hero-video-inner{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.shift-hero-video .img-wrapper,
.shift-hero-builder .video-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;

}
.shift-hero-video .img-wrapper img {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shift-hero-video .overlay,
.shift-hero-builder .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shift-hero-video .btn-play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.shift-hero-video .btn-play .play-icon{
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.shift-hero-video .video-text{
  display: block;
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 150px;
}

.shift-hero-video .video-text-inner{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shift-hero-video .video-text-inner::before{
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

.shift-hero-video .arrow-down{
  width: 38px;
  height: 150px;
  position: absolute;
  bottom: -100px;
  left: 4%;
  transform: translateX(-4%);
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* SHIFT HERO BUILDER */
.shift-hero-builder video{
  width:100%;
  height:auto;
  object-fit: cover;
}
.shift-hero-builder .video-content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

/* SHIFT SIMPLE CARD */
.card-container .card-simple-inner{ padding: 0 20px; box-shadow: 4px 2px 4px 0 #cccccc; }
.card-container .simple-card-header,
.shift-bg-card .simple-card-header{ margin-bottom: 10px; }
.card-container .simple-card-header h4,
.shift-bg-card .simple-card-header h4{ font-size: 1.45em; }
.card-container .card-simple-inner.with-image{
  padding: 0;
}
.card-simple-inner.with-image .simple-card-bg{
  position: relative;
  width: 100%;
  display: inline-block;
  background-color: #f5f5f5;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.card-simple-inner.with-image .simple-card-bg::before {
  display: block;
  content: "";
  padding-top: 80%;
}
.card-simple-inner.with-image .simple-card-body{ padding: 0 20px; }

/* SHIFT BG CARD */
.shift-bg-card .card-simple-inner{
  min-height: 500px;
  border-radius: 10px;
}
.shift-bg-card .simple-card-body{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 25px;
}
.shift-bg-card .simple-card-body .overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.shift-bg-card .simple-card-header > h4{
  font-size: 36px;
  line-height: 1.1em;
  font-weight: 700;
}
.shift-bg-card .simple-card-desc{ font-size: 18px; }
.shift-bg-card .simple-card-header,
.shift-bg-card .simple-card-desc{ position: relative; }


/* SOW HERO IMAGE */
.shift-hero-img{
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.shift-hero-img .img-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;

}
.shift-hero-img .img-wrapper img {
  position: absolute;
  top: 50%;
  left: -50%;
  width: 100%;
  max-width: 45vw;
  z-index: 1000;
  transform: translate(-50%, -50%);
  -webkit-animation: slideInRight 1.5s forwards;
  animation: slideInRight 1.5s forwards;
}

.shift-hero-img .img-wrapper .bg-left{
  width: 65%;
  height: 100%;
  background-color: #00B0AF;
  background-image: linear-gradient(to top right, #167C9B,#00B0AF, #A6DCE2);
}
.shift-hero-img .img-wrapper .bg-right{
  position: absolute;
  right: -50%;
  z-index: 999;
  width: 42%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-animation: slideInLeft 2s forwards;
  animation: slideInLeft 2s forwards;
}

.shift-hero-img .arrow-wrapper{
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.shift-hero-img .arrow-btn{
  display: inline-block;
  width: 45px;
  font-size: 35px;
  text-align: center;
  color: #2e3d59;
  margin: 0 auto;
}

/* SOW CTA LIST */
.shift-cta-wrapper .cta-item,
.shift-post-wrapper .post-item{
  position: relative;
  display: flex;
  padding-bottom: 0;
  vertical-align: top;
  width: 100%;
}
.shift-cta-wrapper .cta-item:nth-of-type(2n+1) {
  flex-direction: row-reverse;
}

.shift-cta-wrapper .cta-title,
.shift-post-wrapper .post-title{
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 100%;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.shift-cta-wrapper .cta-title .title-left,
.shift-post-wrapper .post-title .title-left{
  position: relative;
}

.shift-cta-wrapper .cta-title .title-left,
.shift-cta-wrapper .cta-title .title-right{
  flex: 1;
  text-align: center;
}

.shift-cta-wrapper .cta-title .title-left::before,
.shift-post-wrapper .post-title .title-left::before{
  content: "";
  position: absolute;
  top: 50%;
  right: -20%;
  height: 4px;
  width: 50%;
  background-color: #ffbd13;
}

.shift-cta-wrapper .cta-bg{
  position: relative;
  width: 50%;
  height: 80vh;
  display: inline-block;
  background-color: #eeeeee;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.shift-cta-wrapper .cta-bg:before{
  display: block;
  content: "";
  /* padding-top: 66.6667%; */
  padding-top: 84.6667%;
}

.shift-cta-wrapper .cta-content-wrapper,
.shift-post-wrapper .post-content-wrapper{
  width: 50%;
  padding-top: 180px;
  padding-left: 50px;
  padding-right: 5%;
}

.shift-cta-wrapper .cta-item:nth-of-type(2n+1) .cta-content-wrapper{
  padding-right: 50px;
  padding-left: 5%;
}

.shift-cta-wrapper .cta-content-wrapper .cta-content,
.shift-post-wrapper .post-content-wrapper .post-content{
   color: #2e3d59;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.02em;
   margin-bottom: 20px;
}

.shift-cta-wrapper .cta-item .cta-btn{
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  background-color: #00B0AF;
  background-image: linear-gradient(to right, #A6DCE2 1%,#00B0AF,#167C9B);
  box-sizing: border-box;
  padding: 15px 36px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: opacity .3s;
}
.shift-cta-wrapper .cta-btn:hover{ opacity: 0.8; }

.shift-cta-wrapper{ padding: 50px 0; }
.shift-cta-wrapper::before,
.shift-cta-wrapper .cta-item:nth-child(1) .cta-content-wrapper::after,
.shift-cta-wrapper .cta-item:nth-child(2) .cta-content-wrapper::after{
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 70%;
  height: 35px;
}
.shift-cta-wrapper::before{
  display: block;
  margin-left: auto;
  margin-bottom: 40px;
}
.shift-cta-wrapper .cta-item:nth-child(1),
.shift-cta-wrapper .cta-item:nth-child(2) .cta-content-wrapper{ position: relative; }
.shift-cta-wrapper .cta-item:nth-child(1) .cta-content-wrapper::after{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  z-index: -1;
  width: 70%;
  height: 35px;
}

.shift-cta-wrapper .cta-item:nth-child(2) .cta-content-wrapper::after{
  width: 100%;
  height: 35%;
  position: absolute;
  right: 0;
}


/* SOW SHIFT POST */
.shift-post-wrapper{
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
}

.shift-post-wrapper .post-title{ justify-content: flex-start; }

.shift-post-wrapper .post-title .title-left{ width: 40%; }

.shift-post-wrapper .post-title .title-right{
	width: 50%;
}

.shift-post-wrapper .post-title .title-left,
.shift-post-wrapper .post-title .title-right{
	text-align: center;
}

.shift-post-wrapper .post-title .title-left::before{ right: -42%; width: 75%; }

.shift-post-wrapper .post-bg-wrapper{
	width: 40%;
	height: 55vh;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
	background-color: #eeeeee;
}

.shift-post-wrapper .post-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.shift-post-wrapper .post-bg img {
	width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SOW Shift USER POPUP */

.shift-honeycomb .title{ color: #2e3d59; }
.articles-users .shift-user-card{ margin-bottom: 30px; }

.articles-users img { width: 100%; object-fit: cover; object-position: 50% 50%; }
.articles-users .shift-user-body{ height: 100%; }

.shift-user-body .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s;
}
.shift-user-body .overlay .name{
  display: inline-block;
  position: relative;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-42%);
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}
.articles-users .user-meta-sm{ display: none; text-align:center; }
.articles-users .user-meta-sm:not(:last-child){ margin-bottom: 40px; }
.articles-users .user-meta-sm .name{ color:#167c9b; font-size:18px; }
.articles-users .user-meta-sm .bio{ color: #2e3d59; text-align: left; }

.shift-user-body .overlay, .shift-user-body .overlay .name{ visibility: hidden; }
#shift-user-modal .shift-user-body .user-thumbnail-bg{ align-self: start; width: 100%; max-width: 180px; min-height: 180px; background-repeat:no-repeat; background-size: cover; background-position: inherit; }
#shift-user-modal .shift-user-body .user-meta .name{ font-weight: 500; font-size: 16px; line-height: 24px; color: #000000; }

a[data-behaviour~="shift-user-popup"]{
  display: block;
  height: 100%;
  text-decoration: none;
}

a[data-behaviour~="shift-user-popup"]:hover .shift-user-body .overlay{ background: rgba(0,176,175,0.8); }
a[data-behaviour~="shift-user-popup"]:hover .shift-user-body .overlay,
a[data-behaviour~="shift-user-popup"]:hover .shift-user-body .overlay .name{ visibility: visible;; }

/* USER MODAL */
#shift-user-modal .modal-dialog{ top: 20%; }
#shift-user-modal .modal-content{ border-radius: 4px; }
#shift-user-modal .modal-header{ margin:40px 44px 0; padding:0; border:none; }
#shift-user-modal  .modal-body{ padding: 0; }
#shift-user-modal a.close{ color: #748093; font-size: 30px; font-weight: 400; opacity: 1; }
#shift-user-modal a.close:focus{ outline: none; }
#shift-user-modal .shift-user-body{ margin:35px 44px 50px; }
#shift-user-modal .shift-user-body .user-meta{ height: auto; margin-left: 10px; }
#shift-user-modal .shift-user-body .user-meta .name{ font-size: 24px; margin: 0; color: #167c9b; }
#shift-user-modal .shift-user-body .user-meta .separator{ width: 40px; margin: 20px 0; height: 4px; background-color: #167c9b; }
#shift-user-modal .shift-user-body .user-meta .bio{ font-size: 16px; line-height: 18px; color: #2e3d59; }
/* USER MODAL */

/* SOW SHIFT HEADLINE */
.shift-headline .headline-inner{
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 46px;
	font-weight: 700;
	letter-spacing: 0.1em;
}

.shift-headline .title-left,
.shift-headline .title-right{
	position: relative;
	background: #ffffff;
}
.shift-headline .title-left{ padding-right: 20px; }
.shift-headline .title-right{ padding-left: 20px; }

.shift-headline .headline-inner::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: #ffbd13;
}

/* ORBIT 4 GRID CARD FLIPPER */
.shift-grid-4 .post-card {
  position: relative;
  display: inline-block;
  height: 370px;
  width: 100%;
  -webkit-perspective: 1500;
  -webkit-transform-style: preserve-3d;
}
.shift-grid-4 .post-card .front,
.shift-grid-4 .post-card .back,
.shift-grid-4 .post-card .back-inner{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.shift-grid-4 .post-card .front,
.shift-grid-4 .post-card .back {
  transition: all 0.8s ease-in-out;
  overflow: hidden;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.7) 0 2px 6px -2px;
  border-radius: 10px;
  backface-visibility: hidden;
  color: #ffffff;
  background-color: #a6dce2;
}
.shift-grid-4 .post-card .front {
  transform: rotateY(0);
  z-index: 2;
  display: flex;
  align-items: center;
  transform: rotateY(0);
  padding: 15px;
}

.shift-grid-4 .post-card .front,
.shift-grid-4 .post-card .back-inner{
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center  center;
}

.shift-grid-4 .post-card .back-inner{ display: none; z-index: -1; }

.shift-grid-4 .post-card h2.title{
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.shift-grid-4 .post-card h4.title{
  font-weight: bold;
  font-size: 25px;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.shift-grid-4 .content{
  font-size: 17px;
  margin-bottom: 20px;
}

.shift-grid-4 .post-card .back {
  background-color: #2e3d59;
  transform: rotateY(-180deg);
  padding: 30px;
}
.shift-grid-4 .post-card .btn {
  padding: 10px 20px;
  display: inline-block;
  color: #2e3d59;
  background-color: #a6dce2;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.shift-grid-4 .post-btn{
  display: block;
  width: 100%;
  height: 100%;
}

/* SHIFT VIMEO VIDEO MODAL */
#shift-vimeo-modal,
#shift-video-modal{
	position: fixed;
	background: #000000ee;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

#shift-vimeo-modal .shift-vimeo-modal-close-btn,
#shift-video-modal .shift-video-modal-close-btn{
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	border: none;
	color: #fff;
	font-size: 40px;
	outline: none;
}

#shift-vimeo-modal .shift-vimeo-modal-body,
#shift-video-modal .shift-video-modal-body{
	padding: 20px;
	position: absolute;
	width: 90%;
	max-width: 1100px;
	max-height: 650px;
	height: 57.5vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#shift-vimeo-modal .shift-vimeo-modal-body iframe,
#shift-video-modal .shift-video-modal-body video{
	border: none;
	width: 100%;
	height: 100%;
}
#shift-video-modal .shift-video-modal-body video:focus{ outline: none; }



/* MEDIA QUERIES */
@media( min-width: 769px ){

  /* Ovverride default BS3 styles */
  .header5.navbar-default{
    width: 90%;
    margin: 0 auto;
  }
  .header5 .navbar-collapse{padding: 0;}
  .header5 .container-fluid{ padding: 0;}
	.header5 .navbar-nav{
  	float: none;
  	text-align: center;
	}
	.header5 .nav > li {
		float: none;
		display: inline-block;
	}

  .navbar-default .navbar-nav > li:not(:last-child){ margin-right: 25px; }
  .navbar-default .navbar-nav > li > a{
    position: relative;
    padding: 26.5px 0;
  }

  .navbar-default .navbar-nav > li > a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 18px;
    height: 2px;
    width: 0;
    background: #2e3d59;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  .navbar-nav > li.dropdown:hover > a::before,
  .navbar-default .navbar-nav > li > a:hover::before{
    left: 0;
    width: 100%;
  }

  /* Social Icons */
  .header5 .nav > li.social-icons-wrapper{
    float: right !important;
  }

  /* BS3 Nav Links */
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  /* ORBIT 4 GRID */
  .shift-grid-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
  }

  .shift-grid-4 .post-card:hover .front {
    transform: rotateY(180deg);
  }
  .shift-grid-4 .post-card:hover .back {
    transform: rotateY(0);
  }

  /* SOW Shift USER POPUP */
  .shift-honeycomb .title{
    font-size: 3vw;
    margin: 7vw 10vw 0;
  }

  .articles-users{
    margin: 4vw auto;
    width: 75vw;
  }

  .articles-users .shift-user-card{
    width: 20vw;
    height: 18vw;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    float: left;
    margin-right: 10vw;
    margin-bottom: 0;
  }
  .articles-users .shift-user-card:nth-child(4n+3) {
    margin: -9vw -5vw 0 -15vw;
  }
  #shift-user-modal .shift-user-body{ display: grid; grid-template-columns: 200px 1fr; }

  /* SOW SHIFT HERO VIDEO  */
  .shift-hero-video .btn-play .play-icon{
    transition: all 0.3s;
  }
  .shift-hero-video .btn-play .play-icon:hover{
    transform:  scale(1.2);
  }

  /* SHIFT SIMPLE CARD */
  .card-container,
  .shift-bg-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    margin: 0 auto;
  }
  .shift-bg-card{ grid-gap: 50px; }

  /*Swap Honeycomb users */
  .articles-users .shift-user-card:nth-child(1){
		margin: -9vw -5vw 0 15vw !important;
	}

  .articles-users :nth-child(3){
		margin: 0vw -5vw 0 -30vw !important;
	}


}

@media only screen and (max-width: 768px) and (min-width: 768px){

  .logo-normal .desktop-logo{
    margin-left: 15px;
  }
  .header5 .navbar-nav{ margin: 0 !important; }
  #bs-example-navbar-collapse-1,
  .navbar.header5 > .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }

}

@media(max-width:960px){
	/* SOW SHIFT HEADLINE */
	.shift-headline .headline-inner{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 36px;
    line-height: 1.2;
		text-align: center;
	}

	.shift-headline .headline-inner::before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
	}

	.shift-headline .title-left,
	.shift-headline .title-right{
		padding: 0;
	}
	.shift-headline .title-left{
		margin-bottom: 50px;
		padding-bottom: 20px;
	}
	.shift-headline .title-right{
		margin-top: 50px;
		padding-top: 20px;
	}

}

@media(max-width: 768px){

  .sticky-transparent-header .navbar-nav{
    background-color: #ffffff;
  }


  .header5 .navbar-brand{
  	padding: 0 9px;
  }

  .header5 .navbar-nav{
    margin: 0 -15px;
  }

  .header5.navbar-default .navbar-nav li a,
  .header5.navbar-default .navbar-nav li.dropdown a{
    text-align: center;
  }

  .header5 .social-icons-wrapper{
    float: none !important;
  }
  .header5 .social-icons{
    text-align: center;
    background-color: #2e3d59;
  }

  .header5 .social-icons > a{
    border-color: #ffffff;
  }
  /* SOW HERO IMAGE */
  .shift-hero-img .img-wrapper img{ max-width: 300px; }
  .shift-hero-img .img-wrapper .bg-left, .shift-hero-img .img-wrapper .bg-right{ width: 100%; }

  .shift-hero-video .shift-hero-video-inner{ height: 407px; }
  .shift-hero-builder .shift-hero-video-inner{ height: 500px; }
  .shift-hero-video .video-text{ bottom: 50px; }

  /* SOW Shift USER POPUP */
  .articles-users .user-meta-sm{ display: block; }
  .shift-user-body .overlay{ display: none; }
  .articles-users .shift-user-card {
    width: 50%;
    height: auto;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-left: auto;
    margin-right: auto;
  }

  /* ORBIT 4 GRID CARD FLIPPER */
  .shift-grid-4 .post-item{ margin-bottom: 30px; }
  .shift-grid-4 .post-card .front { transform: rotateY(180deg); }
  .shift-grid-4 .post-card .back { transform: rotateY(0); }
  .shift-grid-4 .post-card .back-inner{ display: block; }

  /* SHIFT HERO BUILDER */
  .shift-hero-builder video{ height: 500px; }

  /* SHIFT BG CARD */
  .card-container .card-simple-inner:not(:last-child),
  .shift-bg-card .card-simple-inner:not(:last-child){
    margin-bottom: 30px;
  }

}

@media (max-width: 500px){

  .articles-users .shift-user-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media(max-width:480px){

  /* SOW SHIFT CARD SLIDER */
	.card-slider-wrapper{ padding: 36px 30px 36px; }
  .shift-card-slider > button.slick-prev{ left: -28px; }
  .shift-card-slider > button.slick-next{ right: -28px; }

}

@media(max-width: 1170px){
  .cta-title .title-left, .cta-title .title-right,
  .post-title .title-left, .post-title .title-right{
    color: #2e3d59 !important;
  }
  .shift-cta-wrapper .cta-title, .shift-post-wrapper .post-title{
    position: relative;
    top: 0;
  }
  .shift-cta-wrapper .cta-item,
  .shift-post-wrapper .post-item{
    display: block;
    margin-bottom: 50px;
  }
  .shift-cta-wrapper .cta-bg{ display: none; }
  .shift-cta-wrapper .cta-content-wrapper,
  .shift-post-wrapper .post-content-wrapper{
    width: 100%;
    padding: 40px 0 5% !important;
    text-align: center;
  }
  .shift-cta-wrapper .cta-title, .shift-post-wrapper .post-title{
    flex-direction: column;
    font-size: 36px;
    line-height: 32px;
    display: block;
  }
  .shift-post-wrapper .post-title .title-left, .shift-post-wrapper .post-title .title-right{ width: 100%; }
  .shift-cta-wrapper .cta-title .title-left,
  .shift-post-wrapper .post-title .title-left{
    padding-bottom: 10px;
  }
  .shift-cta-wrapper .cta-title .title-right,
  .shift-post-wrapper .post-title .title-right{
    margin-top: 50px;
    padding-top: 10px;
  }
  .shift-cta-wrapper .cta-title .title-left::before,
  .shift-post-wrapper .post-title .title-left::before {
    top: 100%;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    height: 50px;
    width: 4px;
  }

  .shift-cta-wrapper .cta-item .cta-btn{
    margin-top: 20px;
  }

  .shift-cta-wrapper::before{
    margin: 20px auto;
    right: 0;
  }

  .shift-cta-wrapper .cta-item:nth-child(2) .cta-content-wrapper::after{
    right: -5% !important;
  }

  .shift-cta-wrapper .cta-item:nth-child(1) .cta-content-wrapper::after{
    bottom: -6%;
    left: 0;
    margin: 0 auto;
  }

  .shift-post-wrapper .post-bg-wrapper{
    width: 100%;
    height: 50vh;
    margin: 40px auto 0;
  }

}

/* ANIMATIONS */

/*=== SLIDE IN RIGHT ===*/
@-webkit-keyframes slideInRight {
  0%{ opacity: 0; width: 0; }
  100% { left: 50%; opacity: 1; width: 100%; }
}

@keyframes slideInRight {
  0%{ opacity: 0; }
  100% { left: 50%; opacity: 1; }
}

/*=== SLIDE IN LEFT ===*/
@-webkit-keyframes slideInLeft {
  0%{ opacity: 0; }
  100% { right: 0%; opacity: 0.5; }
}

@keyframes slideInLeft {
  0%{ opacity: 0; }
  100% { right: 0%; opacity: 0.5; }
}
